<% @element_presenter = ElementPresenter.new(@bank) %>
<%= @element_presenter.error_messages %>
<%= flash[:notice] %>

<%= form_with model: @bank do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit @element_presenter.new_or_edit %>
    <%= link_to t('links.go_to_banks'), banks_path %>
  </div>
<% end %>
