<% @element_presenter = ElementPresenter.new(@supplier) %>
<%= @element_presenter.error_messages %>
<%= flash[:notice] %>

<%= form_with model: @supplier do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :nit %>
    <%= form.text_field :nit %>
  </div>
    <%= form.label :contact_person_name %>
    <%= form.text_field :contact_person_name %>
  <div>
    <%= form.label :contact_person_number %>
    <%= form.text_field :contact_person_number %>
  </div>
    <%= form.fields_for :accounts do |accout_form| %>
      <div>
        <%= accout_form.label :bank_id %>
        <%= accout_form.collection_select :bank_id, Bank.all, :id, :name %>
      <div>
      </div>
        <%= accout_form.label :bank_account_number %>
        <%= accout_form.text_field :bank_account_number %>
      </div>
    <% end %>
  <div>
    <%= form.submit @element_presenter.new_or_edit %>
  </div>
<% end %>