<!DOCTYPE html>
<html>
  <head>
    <title>Providers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">
      <%= yield %>
    </main>

    <footer class="bg-light py-3 text-center">
      <p>Info</p>
    </footer>
  </body>
</html>
